<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Succesful</title>
</head>
<body>
      <div>Your post has been saved</div>
      <button type="submit" id="goback" > go back</button>
      <script>

         function divClickHandler() {
        return function (event) {
          
          // Navigate to the new page with additional details
          window.location.href = '/GoHome';
        };
      }

      const btngoback = document.getElementById('goback')
      btngoback.addEventListener('click',divClickHandler() )


      </script>
</body>

</html>